body{
    margin: 0;
}

.nav-search{
    display: inline-flex;
    /* width: 100%;
    margin: 0 auto; */
}
.search{
    height: 30px;
    width: 500px;
    text-align: center;
    margin-top: 25px;
    margin-left: 400px;
    border-radius: 20px;
}
/* <i class="fa-solid fa-magnifying-glass"> search icon */